
/*   PRE-BODY   */

body{
    background-image: linear-gradient(to bottom, #6200ff, #3c0979, #020024 );
    background-attachment: fixed;
}
.header{
    margin: 3% 3%;
    justify-content: center;
    display: flex;
}
.header-div{
    margin: 0;
    width: 75%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid rgba(240, 248, 255, 0.2);
    background-color: rgba(240, 248, 255, 0.1) ;
    border-radius: 25px;
    justify-content: space-evenly;
}
.header-p{
    font-family: "Snell Roundhand", serif;
    width: fit-content;
    font-size: 40px;
    margin: auto 0 auto 0;
    text-underline: none;
    color: aliceblue;
}
.header-p a{
    font-family: "Snell Roundhand", serif;
    width: fit-content;
    font-size: 40px;
    margin: auto 0 auto 0;
    text-decoration: none;
    color: aliceblue;
}
.header-panel{
    visibility: visible;
    opacity: 1;
    width: 50%;
    font-family: Arial, serif;
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.5s;
}
.short-menu{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.short-menu > li{
    color: rgba(240, 248, 255, 0.75);
    list-style: none;
}

.container{
    display: flex;
    width: auto;
    margin: auto 10%;
    color: #bfa7ec;
    font-family: Arial, serif;
    padding: 3%;
    border-radius: 40px;
    border:1px solid rgba(240, 248, 255, 0.2);
    background-color: rgba(240, 248, 255, 0.1) ;
    height: auto;
}
.container1{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.subcontainer1{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    width: 56%;
    margin-left: 5%;
    margin-right: 0;
    height: 60%;

}

.container1 > img{
    width: 38%;
    border-radius: 30px;
    margin: auto;
}
.p1{
    font-size: 30px;
    height: fit-content;
    color: aliceblue;
}

.p2{
    height: fit-content;
    width: 56%;
    font-size: 14px;
    margin: 0;
}

.container2{
    display: flex;
    margin: auto;
    width: 40%;
    justify-content: center;
}



.formulario{
    flex-direction: column;
    padding: 0 25px 25px 25px;
    justify-content: space-between;
    transition: all 0.5s;
    margin: auto 5% auto 5%;
    width: 90%;
}
.div-form{
    font-family: Arial, serif;
    display: flex;
    flex-direction: column;
    margin: 2% 4% 4% 4%;

}
.div-form > input{
    border-radius: 10px;
    height: 25px;
    padding: 0 10px 0 10px;
    color: aliceblue;
    border-color: rgba(240, 248, 255, 0.2);
    background-color: rgba(240, 248, 255, 0.2) ;

}
.submit-btn{
    width: 100px;
    margin: 6% auto 0 auto;
    height: 30px;
    border-radius: 10px;
    color: aliceblue;
    border-color: rgba(240, 248, 255, 0.2);
    background-color: rgba(240, 248, 255, 0.2) ;
}