<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>L'infinite</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>

    <div class="header">

        <div class="header-div">

            <p class="header-p"><a href="{{ index }}">Infinite's Bookstore</a></p>

            <div class="header-panel">
                <ul class="short-menu">
                    <li>Top most reads</li>
                    <li>Reading list</li>
                    <li>Contact us</li>
                </ul>
            </div>
        </div>

        <div class="a1">
            <img src="{{  }}" alt="">
        </div>


    </div>
</body>
</html>